<!doctype html>
<html>


  <head>
    <title>{{  PageTitle  }}</title>
    <meta name="description" content='{{  description  }}'>
    <link rel="stylesheet" href="{{ url_for('static', filename='resources/guyyatsu.me.css') }}">
  </head>


  <body>

    <div id="Main_Page_Body">

      <div class="banner center">
        <a href="http://guyyatsu.me">
          <img src="{{ url_for('static', filename='resources/graphics/banner.png') }}">
        </a>
      </div>

      <div class="topnav center">
        {% include 'SiteNavigation.html' %}
      </div>

      <div class="content center">
        <h1>{{ WorkingTitle }}</h1>
        {% block content %}{% endblock %}
      </div>

    </div>

  </body>


</html>